/*
  Name: Thetasite
  URI: http://www.esrtheta.nl
  Author: Michiel Bouw - E.S.R. Thêta
  Date created: 17-11-2014
  Date modified: 10-12-2014 (by Michiel Bouw)
  Description:
  Version: 1.0
*/

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);

$font-stack: 'PT Sans', Helvetica, Verdana, sans-serif;
$primary-color: #000;
$white: #FFFFFF;
$black: #000000;
$menu-transparent: rgba(0,0,0,0.6);
$grey: #979797;
$lightgrey: #F1F1F1;
$grey2: #ECEBF9;
$yellow: #ffdd00;
$lightyellow: #ffeb66;
$brown: #403700;
$dark: #2b1808;
$red: #d44527;
$green: #77c126;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin backgroundimages {
  -ms-background-clip: border-box;
  -o-background-clip: border-box;
  -webkit-background-clip: border-box;
  -moz-background-clip: border-box;
  background-clip: border-box;
  background-origin: padding-box;
  background-position: center center;
  background-repeat: no-repeat !important;
  -o-background-size: cover !important;
  -ms-background-size: cover !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  background-size: cover !important;
}

@mixin imagesharpening {
  filter: brightness(0.9) contrast(1.6) saturate(1.4);
  -webkit-filter: brightness(0.9) contrast(1.6) saturate(1.4);
  -moz-filter: brightness(0.9) contrast(1.6) saturate(1.4);
  -o-filter: brightness(0.9) contrast(1.6) saturate(1.4);
  -ms-filter: brightness(0.9) contrast(1.6) saturate(1.4);
}

/********************************************************
Initial style setup, detailed setup and responsive setup
********************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  position: relative;
}
*,
*:before,
*:after {
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body, html, .pure-g, .pure-g [class *= "pure-u"] {
  font-family: $font-stack;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}
html {
  font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: $primary-color;
  background: $grey2;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  font-weight: normal;
  text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}
sup {
  line-height: 0;
}
div#content input[type=text], div#content input[type=password] {
  width: 216px;
}
input[type=text], input[type=password] {
  border: 1px solid $grey;
  background: $lightgrey;
  padding: 5px;
  line-height: 12px;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
u {
  text-decoration: underline;
}
a {
  color: $primary-color;
  text-decoration: underline;
}
a:focus {
  color: $primary-color;
}
a:hover,
a:active {
  color: $brown;
  text-decoration: underline;
}
a img {
  border: 0;
}
// image sharpening for better images
img {
  @include imagesharpening;
}
hr {
  border: none;
  border-bottom: 1px solid $lightgrey;
  margin-bottom: 15px;
  padding-top: 15px;
}
h1 {
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 12px;
}
h2 {
  font-size: 26px;
  line-height: 26px;
  margin-bottom: 12px;
}
h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
}
h4 {
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
}
p {
  font-size: 14px;
  line-height: 18px;
  margin: 16px 0;
}

.pure-button-primary {
  background: $yellow !important;
  color: $primary-color !important;
}

.clear {
  clear: both;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  @media screen and (min-width:1600px) { max-width: 1100px; }
  @media screen and (min-width:1280px) and (max-width:1599px) { max-width: 960px; }
  @media screen and (min-width:960px) and (max-width:1279px) { max-width: 860px; }
  @media screen and (min-width:640px) and (max-width:959px) { max-width: 760px; }
  @media screen and (min-width:321px) and (max-width:639px) { max-width: 640px; }
  @media screen and (max-width:320px) { max-width: 320px; }
}

/********************************************************
Standard layout
********************************************************/

/* MOBILE MENU */
#mobileheader {
  display: none;
  width: 100%;
  height: 50px;
  position: fixed;
  background-color: $yellow;
  top: 0;
  z-index: 9999999;
  -webkit-transform: translate3D(0, 0, 0);
  -moz-transform: translate3D(0, 0, 0);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  -moz-transition: -moz-transform .5s ease-in-out;

  @media screen and (min-width:321px) and (max-width:639px) { display: inherit; }
  @media screen and (max-width:320px) { display: inherit; }

  label {
    img {padding: 15px;}
  }
  #logo {
    position: absolute; right: 10px; top: 0; z-index: 1000;
    img {
      height: 50px;
      width: auto;
    }
  }
}

#mobilemenu-left{display: none; position:fixed; top:0; left:0; bottom:0; height: 100%; width:80%; z-index:99999; background: $yellow; overflow:auto; opacity:0; -webkit-transition:opacity 0s .5s; padding: 0px;
  ul {display:block; height: auto; padding: 0; margin: 0; overflow-y:auto; -webkit-overflow-scrolling:touch;
    li {float: none; width: 100%; border-right: 0px; border-bottom: 1px solid #cccccd; padding-right: 0;
      a {display: block; padding: 10px; font-size: 13px; text-transform: uppercase; color: $black; text-decoration: none;}
      ul.sub_menu {
        padding: 0;
        margin: 0;
        height: auto;
        display: none;
        li {
          padding-left: 15px;
        }
      }
    }
    li:hover > ul.sub_menu {
      display: block;
    }
  }
}

/* UITSCHUIFBARE MENU BUTTON */
.handler{display:none !important;}
.handler#handler-left:checked ~ #mobilemenu-left{display: inherit; opacity:1; -webkit-transition:opacity 0s 0s; -moz-transition:opacity 0s 0s}
.handler#handler-left:checked ~ .wrapper{-webkit-transform:translate3D(80%, 0, 0); -moz-transform:translate3D(80%, 0, 0)}
.handler#handler-left:checked ~ #mobileheader{-webkit-transform:translate3D(80%, 0, 0); -moz-transform:translate3D(80%, 0, 0)}
.handler#handler-left:checked ~ .wrapper{overflow:hidden;}

#mainheader {
  width: 100%;
  position: absolute;
  top: 0;
  @media screen and (min-width:321px) and (max-width:639px) { display: none; }
  @media screen and (max-width:320px) { display: none; }
}

#header {
  width: 100%;
  padding: 0;

  nav.menu {
    ul {
      float: right;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 15px;
      height: 65px;
      width: 100%;
      list-style: none;
      background: $white;
      z-index: 100;
      @include border-radius(1px);

      li {
        float: right;
        margin: 0;

        a {
          text-decoration: none;
          line-height: 65px;
          padding: 0 20px;
          font-size: 11px;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
      li.hover {
        position: relative;
      }
      li#header_logo {
        float: left;
        height: 65px;
        margin: 0;
        padding: 0;
        @include border-radius(1px);

        a {
          height: 65px;
          margin: 0;
          padding: 1px 10px 1px 1px;
          background: $yellow;

          img {
            height: 63px;
            width: auto;
          }
        }
        a:hover {
          background: $yellow;
        }
      }
      li#header_logo.active {
        background: $yellow;
      }
      li#header_logo:after {
        content: '';
        position: absolute;
        top: 0;
        left: 100%;
        display: block;
        background: url("../images/angle.png") no-repeat;
        background-size: auto 100%;
        height: 100%;
        width: 100%;
      }
      li#search {
        vertical-align: middle;
        @include border-radius(1px);

        a {
          color: $white;
          height: 65px;
          padding: 0 6px;
          background: $black;
          box-sizing: border-box;
        }
        a:hover {
          background: $yellow;
          color: $black;
        }
      }
      li#search.active a {
        background: $yellow;
        color: $black;
      }
    }
    ul:after {
      content: " ";
      clear: both;
      display: block;
    }
    li {
      display: inline-block;
      margin-right: 15px;
    }

    ul.sub_menu {
      display: none;
      background: $yellow;
      position: absolute;
      z-index: 1000;
      border-top: 0;
      padding: 0;
      margin: 0;
      top: 100%;
      width: 165px;
      height: auto;
      list-style-type: none;
      -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      @include border-radius(1px);

      li {
        float: left;
        width: 100%;
        height: 30px;
        list-style-type: none;
        position: relative;
        margin: 0;
        background: $yellow;

        a {
          width: 100%;
          height: 30px;
          line-height: 30px;
          text-decoration: none;
          text-transform: none;
          font-size: 11px;
          background: $yellow;
          z-index: 1000;
          font-weight: normal;
        }
        a:hover {
          background: $white;
        }
      }
      li.active a {
        background: $white;
      }
    }
    ul.sub_menu:before {
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 0 10px 10px;
      border-color: $yellow transparent;
      display: block;
      width: 0;
      z-index: 1;
      top: -10px;
      left: 50px;
    }
    li:hover > ul.sub_menu {
      display: block;
    }
    ul#siteselector {
      background: $white;
      top: 105%;

      li {
        background: $white;

        a {
          height: 30px;
          padding: 0 10px;
          background: $white;

          i.fa {
            padding: 0 5px;
            font-size: 14px;
            line-height: 30px;
          }
        }
        a:hover {
          background: $yellow;
        }
        a.twitter, a.facebook {
          display: inline-block;
          text-align: center;
        }
        a.twitter:hover {
          background: #55acee;
          color: $white;
        }
        a.facebook:hover {
          background: #3b5998;
          color: $white;
        }
      }
      li.active a {
        background: $yellow;
      }
    }
    ul#siteselector:before {
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 0 10px 10px;
      border-color: $white transparent;
      display: block;
      width: 0;
      z-index: 1;
      top: -10px;
      left: 75.5px;
    }
    li:hover > ul#siteselector {
      display: block;
    }

    a {
      display: block;
      padding: 0 10px;
      text-decoration: none;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
  }

  nav.menubottom {
    ul {
      float: right;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 85px;
      height: 30px;
      width: 100%;
      list-style: none;
      background: $menu-transparent;
      z-index: 15;
      @include border-radius(1px);

      li {
        float: left;
        margin: 0;

        a {
          color: $white;
          text-decoration: none;
          line-height: 30px;
          font-size: 11px;
          text-transform: uppercase;
        }
      }
      li.hover {
        position: relative;
      }
      li#right {
        float: right;
      }
      li#frust .count, li#spam .count, li#right .info {
        position: absolute;
        top: 90%;
        left: 35%;
        height: auto;
        width: auto;
        min-width: 20px;
        display: block;
        background: $red;
        color: $white;
        font-size: 10px;
        font-weight: bold;
        padding: 0 5px;
        text-align: center;
        -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
        @include border-radius(1px);
      }
      li#right .info {
        left: 10%;
      }
      li#frust .count:before, li#spam .count:before, li#right .info:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0 5px 5px;
        border-color: $red transparent;
        display: block;
        width: 0;
        z-index: 1;
        top: -5px;
        left: 25%;
      }
      li#erg-calc .calc {
        display: none;
        position: absolute;
        top: 90%;
        left: 0;
        height: 400px;
        width: auto;
        background: $lightgrey;
        text-align: center;
        z-index: 1000;
        -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
        @include border-radius(1px);
      }
      li#erg-calc .calc:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0 5px 5px;
        border-color: $lightgrey transparent;
        display: block;
        width: 0;
        z-index: 1;
        top: -5px;
        left: 25%;
      }
      li#erg-calc:hover > .calc {
        display: block;
      }
      img.user {
        width: 26px;
        height: 26px;
        border-radius: 14px;
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        margin: 2px 2px 2px 4px;
        display: inline-block;
        float: right;
      }
    }
    ul:after {
      content: " ";
      clear: both;
      display: block;
    }
    li {
      display: inline-block;
      margin-right: 15px;
    }

    ul.sub_menu {
      display: none;
      background: $menu-transparent;
      position: absolute;
      z-index: 1000;
      border-top: 0;
      padding: 0;
      margin: 0;
      top: 100%;
      right: 0;
      width: 125px;
      height: auto;
      list-style-type: none;
      -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      @include border-radius(1px);

      li {
        float: left;
        width: 100%;
        height: 25px;
        list-style-type: none;
        position: relative;
        margin: 0;
        background: transparent;

        a {
          color: $white;
          width: 100%;
          height: 25px;
          line-height: 25px;
          text-decoration: none;
          text-transform: none;
          font-size: 11px;
          background: transparent;
          z-index: 1000;
          font-weight: normal;
        }
        a:hover {
          background: rgba(0,0,0,1);
        }
      }
      li.active a {
        background: rgba(0,0,0,1);
      }
    }
    li:hover > ul.sub_menu {
      display: block;
    }

    a {
      color: $white;
      display: block;
      padding: 0 10px;
      text-decoration: none;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
  }

  #header_link {
    position: absolute;
    z-index: 10;
    top: 35vh;
    left: 45px;
    max-width: 100%;

    p {
      background-color: $yellow;
      height: 65px;
      vertical-align: middle;
      margin: 5px 5px;
      padding: 0;
      z-index: 10;
      display: inline-block;
      min-width: 250px;
      -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      @include border-radius(1px);

      a {
        padding: 0 0 0 15px;
        height: 65px;
        line-height: 65px;
        min-width: 209px;
        display: block;

        span.title {
          float: left;
          text-decoration: none;
          padding: 13px 15px 0 0;
          height: 65px;
          font-size: 18px;
          line-height: 20px;
          vertical-align: middle;
          display: inline-block;
        }
        span small {
          font-size: 12px;
          line-height: 6px;
        }
        span.icon {
          float: right;
          height: 65px;
          margin-left: 10px;
          text-align: center;
          display: inline-block;
          color: $white;
          vertical-align: middle;
          background: $black;
          padding: 0 10px;
          box-sizing: border-box;
        }
      }

      a:hover {
        background: $lightyellow;
        color: $black;
      }
    }
  }
}

/* SLIDER */
.slider {
  @include backgroundimages;
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60vh;
  z-index: -10;
  overflow: hidden;
  border-bottom: solid $dark 8px;
  @media screen and (min-width:321px) and (max-width:639px) { display: none; }
  @media screen and (max-width:320px) { display: none; }

  ul#header_image {
    width: 100%;
    height: 60vh;
    position: absolute;
    overflow: hidden;
    margin: 0;
    padding: 0;
    li {
      width: 100%;
      height: 60vh;
      @include backgroundimages;
      @include imagesharpening;
    }
  }
  .navigatie {
    display: none;
  }
}

/* HEADER BOX */
.box {
  width: 100%;
  position: absolute;
  top: 0;

  .box_100 {
    background: rgba(255, 255, 2555, 0.9);;
    position: relative;
    z-index: 10;
    margin-top: 120px;
    margin-bottom: 10px;
    width: 100%;
    height: 175px;
    overflow: hidden;
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    @include border-radius(1px);

    .boxtitle {
      float: left;
      height: 100%;
      width: 6%;
      padding: 15px 0 15px 15px;
      background: $yellow;
      font-size: 11px;
      font-weight: bold;

      img {
        width: 50px;
        max-width: 100%;
      }
    }
    .boxtitle:after {
      content: '';
      position: absolute;
      top: 0;
      left: 100%;
      display: block;
      background: url("../images/angle.png") no-repeat;
      background-size: auto 100%;
      height: 100%;
      width: 100%;
    }
    .boxcontent {
      float: left;
      padding: 30px 20px 20px 6%;
      height: 100%;
      width: 94%;

      h1 {
        font-size: 30px;
        line-height: 32px;
      }
      span.box-close {
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 18px;
        color: $dark;
      }
    }
  }
}

/* CONTENT */
.content {
width: 100%;
clear: both;
margin-bottom: 10px;
padding: 0;

ol, ul {
  list-style: disc inside;
}

.content-left {
  float: left;
  width: 70%;
  margin-top: 47vh;
  margin-bottom: 20px;
  padding: 0;

  .block_content {
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
    background: $white;
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    @include border-radius(1px);

    img.news_image {
      width: 100%;
      max-height: 320px;
      margin: 0 0 5px 0;
    }
    .news_items {
      padding: 20px 20px;

      h2 {
        a {
          text-decoration: none;
        }
        a:hover {
          color: $primary-color;
          text-decoration: underline;
        }
      }
      p.news_date {
        color: $grey;
        font-size: 11px;
        margin: 0 0 5px !important;

        .fa:not(:first-child) { margin-left: 10px; }
      }
    }
    .block_page {
      padding: 20px 20px;

      img {
        width: 40%;
      }
    }
    .extra {
      background: $lightgrey;
      height: 50px;
      line-height: 50px;
      margin: 0;
      padding: 0;
      text-align: center;
      a {
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      a.expand_reacties.expanded > .fa.fa-angle-down, a.expand_reacties.collapsed > .fa.fa-angle-up {
        display: none;
      }
      a.expand_reacties.collapsed > .fa.fa-angle-down, a.expand_reacties.expanded > .fa.fa-angle-up {
        display: inline;
      }
    }
    .extra_reacties {
      display: none;
      padding: 20px 20px;

      .reactie {
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%;

        img {
          width: 5%;
          float: left;
        }
        span.reactie_name {
          padding: 0 15px;
          width: 95%;
          float: left;
          font-weight: bold;

          span.reactie_date {
            font-size: 10px;
            font-weight: normal;
          }
        }
        span.reactie_text {
          padding: 0 15px;
          float: left;
          width: 95%;
        }
      }
    }
  }
}
.content-left-page {
  margin-top: 310px;
}

.content-right {
  float: left;
  width: 30%;
  margin-top: 50vh;
  margin-bottom: 20px;
  padding: 0;

  #sidebar {
    .sidebar_block {
      margin: 10px 0 10px 10px;
      background: $white;
      -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      @include border-radius(1px);
      @media only screen and (max-width:959px) { margin: 5px 1%; width: 48%; float: left; }
      @media only screen and (max-width:639px) { margin: 5px 0; width: 100%; }

      h2 {
        margin: 0;
        padding: 0 20px;
        height: 50px;
        line-height: 50px;
        font-size: 12px;
        font-weight: bold;

        a {
          font-size: 12px;
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
        }
      }
      .sidebar_content {
        width: 100%;
        padding: 0;

        .verbod {
          background: $red;
          color: $white;
          padding: 15px 0;
          font-size: 16px;
          font-weight: bold;
          line-height: 20px;
          text-align: center;

          small {
            font-size: 10px;
            line-height: 14px;
            font-weight: normal;
          }
        }
        ul.calender {
          li {
            padding: 0 0 0 20px;
            margin: 0;
            height: 50px;
            line-height: 50px;
            display: block;

            span.date {
              float: left;
              text-decoration: none;
              padding: 0;
              height: 50px;
              width: 20%;
              font-size: 12px;
              line-height: 50px;
              display: inline-block;
            }
            span.end_date {
              height: 25px;
              font-size: 10px;
              line-height: 15px;
              padding-left: 25px;
              position: absolute;
              top: 70%;
              left: 0;
            }
            div.title {
              text-decoration: none;
              padding: 0 5px 0 10px;
              height: auto;
              width: 70%;
              font-size: 13px;
              line-height: 20px;
              display: inline-block;
              vertical-align: middle;
            }
            a {
              padding: 0;
              height: 50px;
              width: 10%;
              line-height: 50px;
              display: inline-block;
              float: right;
              text-align: center;
            }
            a:hover {
              background: $yellow;
            }
          }
          li:first-child {
            background: rgba(255,221,0,0.5);
            height: 60px;
            line-height: 60px;

            span.date {
              height: 30px;
              line-height: 30px;
            }
            span.end_date {
              height: 30px;
            }
            div.title {
              font-size: 16px;
              line-height: 22px;
            }
            a {
              padding: 0;
              height: 60px;
              line-height: 60px;
              background: $yellow;
            }
            a:hover {
              background: $grey2;
            }
          }
          li#today {
            background: rgba(255,221,0,0.5);
            height: 60px;
            line-height: 60px;

            span.date {
              display: none;
            }
            span.end_date {
              height: 30px;
            }
            div.title {
              font-size: 16px;
              line-height: 22px;
            }
            a {
              padding: 0;
              height: 60px;
              line-height: 60px;
              background: $yellow;
            }
            a:hover {
              background: $grey2;
            }
          }
          li#today:before {
            content: 'LIVE';
            float: left;
            height: 30px;
            line-height: 30px;
            text-decoration: none;
            padding: 0 5px;
            margin: 15px 4% 15px 0;
            width: 16%;
            font-size: 12px;
            font-weight: bold;
            background: $yellow;
            text-align: center;
            display: inline-block;
          }
        }
        .jasje {
          background: $green;
          color: $white;
          padding: 15px 0;
          font-size: 16px;
          font-weight: bold;
          line-height: 20px;
          text-align: center;

          small {
            font-size: 10px;
            line-height: 14px;
            font-weight: normal;
          }
        }
        a.partner_logos {
          margin-top: 10px;
          width: 100%;
          height: 60px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: auto 100%;
          display: block;
          text-decoration: none;
        }
      }
      .extra {
        height: 50px;
        line-height: 50px;
        background: $lightgrey;
        margin: 0;
        padding: 0;
        text-align: center;
        a {
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
        }
        small {
          font-size: 10px;
        }
      }
    }
  }
}
.content-right-page {
  margin-top: 350px;
}

.content-page {
  float: left;
  width: 101%;
  margin-top: 310px;
  margin-bottom: 20px;
  padding: 0;

  .block_content_100 {
    float: left;
    width: 99%;
    height: auto;
    padding: 0;
    margin-right: 1%;
    margin-bottom: 10px;
    background: $white;
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    @include border-radius(1px);

    .block_text {
      float: left;
      width: 70%;
      margin: 0;
      padding: 20px 20px 10px;

      h1 {
        margin-top: 15px;
        margin-bottom: 5px;
      }
      h3 {
        text-transform: uppercase;
      }
      a {
        text-decoration: none;
      }
      a:hover {
        color: $primary-color;
        text-decoration: underline;
      }
    }
    .featured_image {
      margin: 0;
      padding: 0;
      float: left;
      width: 30%;
      height: auto;
      min-height: 30vh;
      background-size: cover;
      background-position: center center;
      @include imagesharpening;
    }
    .extra {
      background: $lightgrey;
      height: 50px;
      line-height: 50px;
      margin: 0;
      padding: 0;
      text-align: center;
      float: left;
      width: 100%;
      a {
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      a.expand_page.expanded > .fa.fa-angle-down, a.expand_page.collapsed > .fa.fa-angle-up  {
        display: none;
      }
      a.expand_page.collapsed > .fa.fa-angle-down, a.expand_page.expanded > .fa.fa-angle-up {
        display: inline;
      }
    }
    .extra_page {
      display: none;
      padding: 20px 20px;
    }
  }
  .block_content_50 {
    float: left;
    width: 49%;
    padding: 0;
    margin: 0 1% 10px 0;
    background: $white;
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    @include border-radius(1px);

    .block_text {
      padding: 20px 20px 10px;
      min-height: 255px;

      h2 {
        margin-bottom: 5px;
      }
      h4 {
        text-transform: uppercase;
      }
      a {
        text-decoration: none;
      }
      a:hover {
        color: $primary-color;
        text-decoration: underline;
      }
    }
    .featured_image {
      width: 100%;
      margin: 0 0 5px 0;
      height: 150px;
      background-size: cover;
      background-position: center center;
      @include imagesharpening;
    }
    .extra {
      background: $lightgrey;
      line-height: 50px;
      margin: 0;
      padding: 0;
      text-align: center;
      width: 100%;
      a {
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      a.expand_page.expanded > .fa.fa-angle-down, a.expand_page.collapsed > .fa.fa-angle-up  {
        display: none;
      }
      a.expand_page.collapsed > .fa.fa-angle-down, a.expand_page.expanded > .fa.fa-angle-up {
        display: inline;
      }
    }
    .extra_page {
      display: none;
      padding: 20px 20px;
    }
  }
  .block_content_50:nth-child(odd) {
    clear: right;
  }
}
}

footer {
background-color: $lightgrey;
margin-bottom: 0;
border-top: 8px solid $yellow;
width: 100%;
height: auto;
padding: 25px 9px;

.footer_block {
  color: $brown;
  padding: 20px 10px 0 20px;
  font-size: 11px;
  float: left;
  display: inline-block;
  width: 25%;
}
}

/********************************************************
Chat module spamschrift
********************************************************/
.module {
  z-index: 100;
  position: fixed;
  bottom: 0;
  right: 20px;
  width: 300px;
  max-width: 100%;
  box-shadow: -2px -2px 10px rgba($black, 0.2);
}
.top-bar {
  background: $white;
  color: $primary-color;
  padding: 0 15px;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  li {
    display: inline-block;
    a {
      text-decoration: none;
      display: inline;
      font-size: 14px;
    }
  }
  .fa-comments-o {
    display: inline-block;
    padding: 0 5px;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
    padding: 0;
  }
  > * {
    position: relative;
  }
}
#discussionspam, #discussionfrust {
  height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.discussion {
  list-style: none;
  background: $white;
  min-height: 350px;
  margin: 0;
  padding: 0 0 10px 0;
  li {
    padding: 5px;
    overflow: hidden;
    display: flex;
  }
  .avatar {
    width: 40px;
    position: relative;
    img {
      display: block;
      width: 100%;
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.25;
    background: radial-gradient($yellow, $dark);
    animation: pulse 1s ease alternate infinite;
  }
}
.other {
  .messages {
    box-shadow: 2px 1px 0 rgba($black, 0.2);
  }
  .avatar {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border: 5px solid white;
      border-left-color: transparent;
      border-bottom-color: transparent;
    }
  }
}
.self {
  justify-content: flex-end;
  align-items: flex-end;
  .messages {
    order: 1;
    border-bottom-right-radius: 0;
    box-shadow: 0 1px 2px rgba($black, 0.2);
  }
  .avatar {
    order: 2;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border: 5px solid white;
      border-right-color: transparent;
      border-top-color: transparent;
      box-shadow: 1px 1px 2px rgba($black, 0.2);
    }
  }
}
.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  p {
    font-size: 14px;
    margin: 0 0 4px 0;
  }
  time {
    font-size: 12px;
    color: #ccc;
  }
}
@keyframes pulse {
  from { opacity: 0; }
  to { opacity: 0.5; }
}

/********************************************************
Responsive setup
********************************************************/
@media screen and (min-width:1600px) {
}
@media screen and (max-width:1599px) {
.module {
  right: 10px;
}
}
@media screen and (max-width:1279px) {
#header {
  nav.menu {
    ul {
      li {
        a {
          padding: 0 15px;
        }
      }
    }
  }
  nav.menubottom {
    a {
      padding: 0 8px;
    }
  }
}

.content {
  .content-page {
    .block_content_50 {
      .block_text {
        min-height: 275px;
      }
    }
  }
}
}
@media screen and (max-width:959px) {
#header {
  nav.menu {
    ul {
      li {
        a {
          line-height: 32px;
          padding: 0 10px;
          font-size: 11px;
        }
      }
    }
    li {
      font-size: 11px;
    }
    li:last-child {
      float: left;
      margin-left: 40px;
    }
  }
  nav.menubottom {
    ul {
      li {
        a {
          font-size: 10px;
        }
      }
    }
    li {
      font-size: 10px;
    }
    ul.sub_menu {
      li {
        a {
          font-size: 10px;
        }
      }
    }
    a {
      padding: 0 8px;
    }
  }
}

.box {
  .box_100 {
    .boxtitle {
      width: 10%;
    }
    .boxcontent {
      padding: 20px 20px 20px 10%;
      width: 90%;
    }
  }
}
.content {
  overflow: hidden;
  .content-left {
    width: 100%;
  }
  .content-right {
    width: 100%;
    margin: 20px 0;
  }
  .content-page {
    .block_content_50 {
      .block_text {
        min-height: 300px;
      }
      .featured_image {
        height: 100px;
      }
    }
  }
}
}
@media screen and (max-width:639px) {
h1 {
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 10px;
}
h2 {
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 10px;
}
h3 {
  font-size: 17px;
  line-height: 17px;
}
h4 {
  font-size: 15px;
  line-height: 15px;
}
p {
  font-size: 13px;
  line-height: 17px;
  margin: 14px 0;
}
.box {
  display: none;
}
.content {
  .content-left {
    width: 100%;
    margin-top: 60px;
  }
  .content-left-page {
    margin-top: 60px;
  }
  .content-page {
    width: 100%;
    margin-top: 60px;
    .block_content_100 {
      width: 100%;
      margin: 0 0 10px;
    }
    .block_content_50 {
      width: 100%;
      margin: 0 0 10px;

      .block_text {
        min-height: 0;
      }
    }
  }
}
footer {
  .footer_block {
    width: 50%;
  }
}
.module {
  display: none;
}
}
@media screen and (max-width:320px) {
.content {
  .content-page {
    .block_content_100 {
      .featured_image {
        display: none;
      }
      .block_text {
        width: 100%;
      }
    }
  }
}
footer {
  .footer_block {
    width: 100%;
  }
}
}