    <header class="top-bar">
        <div class="left">
            <ul ng-init="tab = 1">
                <li ng-class="{active:tab===1}">
                    <span class="fa fa-comments-o"></span>
                    <a href ng-click="tab = 1"><span ng-show="tab === 2">Spamschrift</span><strong ng-show="tab === 1">Spamschrift</strong></a>
                </li>
                &nbsp;
                <li ng-class="{active:tab===2}">
                    <span class="fa fa-thumbs-o-down"></span>
                    <a href ng-click="tab = 2"><span ng-show="tab === 1">Frustschrift</span><strong ng-show="tab === 2">Frustschrift</strong></a>
                </li>
            </ul>
        </div>
        <div class="right">
            <a href="" onclick="$('#discussionspam').hide();$('#discussionfrust').hide();$('#frustform').hide();$('#spamform').hide();$('.module .fa-angle-up').show();$('.module .fa-minus').hide();"><span class="fa fa-minus" style="display: none;"></span></a>
            <a href="" onclick="$('#discussionspam').show();$('#discussionfrust').show();$('#frustform').show();$('#spamform').show();$('.module .fa-angle-up').hide();$('.module .fa-minus').show();var objDiv = document.getElementById('discussionspam');objDiv.scrollTop = objDiv.scrollHeight;var objDiv1 = document.getElementById('discussionfrust');objDiv1.scrollTop = objDiv1.scrollHeight;"><span class="fa fa-angle-up"></span></a>
            &nbsp;
            <a href="" onclick="$('.module').hide();"><span class="fa fa-close"></span></a>
        </div>
    </header>
    <div id="discussionspam" ng-show="tab === 1" style="display: none;">
    <ol class="discussion">
        <li class="other">
            <div class="avatar">
                <img src="images/unknown.gif" />
            </div>
            <div class="messages">
                <p>Ook de openingstijden van de bar vallen niet helemaal samen</p>
                <time>Eef Meijerink (1391) • 14 jan 11:51</time>
            </div>
        </li>
        <li class="other">
            <div class="avatar">
                <img src="images/unknown.gif" />
            </div>
            <div class="messages">
                <p>Voor de dames: Gezien er al lange tijd steeds meer handdoeken en andere meuk rondslingerden in de dameskleedkamer. Zou het kunnen zijn dat je die terug moet zoeken bij de gevonden voorwerpen</p>
                <time>Lisa Scheenaard (190) • 14 jan 12:58</time>
            </div>
        </li>
        <li class="other">
            <div class="avatar">
                <img src="images/unknown.gif" />
            </div>
            <div class="messages">
                <p>Kan je de herenkleedkamer ook doen? Daar licht ook allemaal toeli.</p>
                <time>Matthijs Kamerling (43) • 14 jan 13:51</time>
            </div>
        </li>
        <li class="self">
            <div class="avatar">
                <img src="images/unknown.gif" />
            </div>
            <div class="messages">
                <p>Licht?</p>
                <time>Jij (182) • 14 jan 14:20</time>
            </div>
        </li>
        <li class="other">
            <div class="avatar">
                <img src="images/unknown.gif" />
            </div>
            <div class="messages">
                <p>radioactieve onderbroeken</p>
                <time>Luc van Dort (7024) • 14 jan 14:44</time>
            </div>
        </li>
    </ol>
    </div>
    <form ng-show="tab === 1" role="form" id="spamform" style="display: none;">
        <div class="form-group input-group">
            <input type="text" class="form-control" placeholder="Uw spam" />
        <span class="input-group-btn">
            <button class="btn btn-primary">Plaats</button>
        </span>
        </div>
    </form>
    <div id="discussionfrust" ng-show="tab === 2" style="display: none;">
    <ol class="discussion">
        <li class="other">
            <div class="avatar">
                <img src="images/unknown.gif" />
            </div>
            <div class="messages">
                <p>Staat die buitencamera nog op de bak gericht of niet meer?</p>
                <time>Bart Versteeg (7) • 12 jan 11:27</time>
            </div>
        </li>
        <li class="other">
            <div class="avatar">
                <img src="images/unknown.gif" />
            </div>
            <div class="messages">
                <p>Tering, is ook een klote streek, schiet je niets mee op en geeft alleen maar overlast...'</p>
                <time>Jurriaan Drent (5) • 12 jan 11:42</time>
            </div>
        </li>
        <li class="other">
            <div class="avatar">
                <img src="images/unknown.gif" />
            </div>
            <div class="messages">
                <p>als we nu degene die de bananenschillen in de douch flikkert de bak laten repareren?</p>
                <time>Eric Sillekens (172) • 12 jan 11:49</time>
            </div>
        </li>
        <li class="other">
            <div class="avatar">
                <img src="images/unknown.gif" />
            </div>
            <div class="messages">
                <p>sancties riep het zesendertigste in koor</p>
                <time>Eric Sillekens (172) • 12 jan 11:49</time>
            </div>
        </li>
        <li class="other">
            <div class="avatar">
                <img src="images/unknown.gif" />
            </div>
            <div class="messages">
                <p>Sancties zijn de enige oplossing</p>
                <time>Niels ten Heggeler (12) • 13 jan 10:09</time>
            </div>
        </li>
    </ol>
    </div>
    <form ng-show="tab === 2" role="form" id="frustform" style="display: none;">
        <div class="form-group input-group">
            <input type="text" class="form-control" placeholder="Uw frust" />
            <span class="input-group-btn">
                <button class="btn btn-primary">Plaats</button>
            </span>
        </div>
    </form>