    <div class="slider" ng-controller="headerimages">
      <ul id="header_image">
        <li style="background-image: url(images/header/1.jpg); background-position: center bottom;"></li>
        <li style="background-image: url(images/header/2.jpg); background-position: center bottom;"></li>
        <li style="background-image: url(images/header/3.jpg); background-position: center bottom;"></li>
        <li style="background-image: url(images/header/4.jpg); background-position: center bottom;"></li>
        <li style="background-image: url(images/header/5.jpg);"></li>
        <li style="background-image: url(images/header/6.jpg); background-position: center bottom;"></li>
        <li style="background-image: url(images/header/7.jpg);"></li>
        <li style="background-image: url(images/header/8.jpg);"></li>
        <li style="background-image: url(images/header/9.jpg); background-position: center bottom;"></li>
        <li style="background-image: url(images/header/10.jpg); background-position: center bottom;"></li>
        <li style="background-image: url(images/header/11.jpg);"></li>
        <li style="background-image: url(images/header/12.jpg);"></li>
        <li style="background-image: url(images/header/13.jpg);"></li>
        <li style="background-image: url(images/header/14.jpg); background-position: center bottom;"></li>
        <li style="background-image: url(images/header/15.jpg);"></li>
        <li style="background-image: url(images/header/16.jpg); background-position: center bottom;"></li>
        <li style="background-image: url(images/header/17.jpg);"></li>
        <li style="background-image: url(images/header/18.jpg); background-position: center top;"></li>
        <li style="background-image: url(images/header/19.jpg);"></li>
        <li style="background-image: url(images/header/20.jpg); background-position: center bottom;"></li>
        <li style="background-image: url(images/header/21.jpg); background-position: center bottom;"></li>
        <li style="background-image: url(images/header/22.jpg); background-position: center bottom;"></li>
        <li style="background-image: url(images/header/23.jpg);"></li>

        <li ng-repeat="item in items" style="background-image: url(media/{$ item.image $}); background-position: {$ item.position $};"></li>
      </ul>
    </div>