<ul>
    <li id="header_logo">
        <a href="/"><img src="images/logo_theta_mobile.png"></a>
        <ul class="sub_menu" id="siteselector">
            <li><a href="http://lustrum.esrtheta.nl"><i class="fa fa-asterisk"></i> Lustrum: Demarrage</a></li>
            <li><a href="http://botenwagen.esrtheta.nl/"><i class="fa fa-bus"></i> Botenwagen</a></li>
            <li><a href="http://herfstregatta.esrtheta.nl"><i class="fa fa-leaf"></i> Herfstregatta</a></li>
            <li><a href="http://intro.esrtheta.nl"><i class="fa fa-child"></i> &nbsp;Lid worden</a></li>
            <li><a href="http://1000l.esrtheta.nl"><i class="fa fa-beer"></i> 1000 liter bierfeest</a></li>
            <li><a href="http://rtcbrabant.nl" target="_blank"><i class="fa fa-flag"></i> RTC Roeien Brabant</a></li>
            <li style="width: 50%;"><a href="https://twitter.com/esrtheta" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li style="width: 50%;"><a href="https://www.facebook.com/esrtheta" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
        </ul>
    </li>
    <li id="search"><a href="#"><i class="fa fa-search"></i></a></li>
    <li><a href="/pagina/5/contact">Contact</a></li>
    <li><a href="/fotoalbum">Fotoalbum</a></li>
    <li><a href="/pagina/159/oud-leden">Oud-leden</a>
        <ul class="sub_menu">
            <li><a href="/nieuws/ser">Nieuws</a></li>
            <li><a href="/pagina/160/ser">SER</a></li>
            <li><a href="/pagina/162/doelstellingen">Doelstellingen</a></li>
            <li><a href="/pagina/161/historie">Historie</a></li>
            <li><a href="/pagina/173/ser-bestuur">SER-bestuur</a></li>
            <li><a href="/seraanmelding/new">Aanmelden</a></li>
            <li><a href="/pagina/163/contact">Contact</a></li>
        </ul></li>
    <li><a href="/nieuws/bedrijven">Bedrijven</a>
        <ul class="sub_menu">
            <li><a href="/nieuws/bedrijven">Nieuws</a></li>
            <li><a href="/pagina/36/e-s-r-theta">E.S.R. Thêta</a></li>
            <li><a href="/sponsors">Sponsors en Partners</a></li>
            <li><a href="/pagina/26/mogelijkheden">Mogelijkheden</a></li>
            <li><a href="/pagina/34/sponsorbrochure">Sponsorbrochure</a></li>
        </ul></li>
    <li><a href="/competitie">Competitie</a></li>
    <li><a href="/wedstrijd">Wedstrijd</a>
        <ul class="sub_menu">
            <li><a href="/wedstrijd">Wedstrijdroeien</a></li>
            <li><a href="/wedstrijd/uitslagen">Wedstrijduitslagen</a></li>
            <li><a href="/wedstrijd/rtc">RTC Roeien Brabant</a></li>
            <li><a href="/wedstrijd/olympiers">Olympiërs</a></li>
            <li><a href="/wedstrijd/wk-gangers">WK-gangers </a></li>
            <li><a href="/wedstrijd/varsity">Varsity Ouden Vier</a></li>
            <li><a href="/wedstrijd/records-blikken">Records & Blikken</a></li>
            <li><a href="/wedstrijd/ergometerranglijst">Ergometerranglijst</a></li>
        </ul></li>
    <li><a href="/vereniging">Vereniging</a>
        <ul class="sub_menu">
            <li><a href="/vereniging">E.S.R. Thêta</a></li>
            <li><a href="/vereniging/bestuur">Bestuur</a></li>
            <li><a href="/vereniging/huizen-en-disputen">Huizen en Disputen</a></li>
            <li><a href="/vereniging/commissie">Commissies</a></li>
            <li><a href="/vereniging/botenvloot">Botenvloot</a></li>
            <li><a href="/nieuws/archief">Nieuwsarchief</a></li>
            <li><a href="/nieuws/feed">Nieuwsfeed</a></li>
        </ul></li>
</ul>