<ul id="menu">
    <li><a href="/">E.S.R. THÊTA</a></li>

    <div ng-controller="mainmenu">
        <li ng-repeat="item in items | orderBy:orderMainMenu"><a href="{$ item.item_url $}">{$ item.item_name $}</a>
            <ul class="sub_menu" ng-show="subitem1.length > 0">
                <li ng-repeat="subitem in subitem1 = (subitem | filter:byItemId(item.id) | orderBy:orderSubMainMenu)"><a href="{$ subitem.item_url $}">{$ subitem.item_name $}</a></li>
            </ul>
        </li>
    </div>

    <li><a href="login">Inloggen</a></li>
    <li ng-controller="ledenmenu" ng-show="ledenmenu.length > 0"><a href="/leden">Leden</a>
        <ul class="sub_menu">
            <li><a href="/spamschrift">Spammmen</a></li>
            <li><a href="/frustschrift">Frusten</a></li>

            <li ng-repeat="item in ledenmenu = (items | orderBy:orderLedenMenu)"><a href="{$ item.item_url $}">{$ item.item_name $}</a>
                <ul class="sub_menu" ng-show="subitem1.length > 0">
                    <li ng-repeat="subitem in subitem1 = (subitem | filter:byItemId(item.id) | orderBy:orderSubLedenMenu)"><a href="{$ subitem.item_url $}">{$ subitem.item_name $}</a></li>
                </ul>
            </li>

            <li><a href="">Ergo calculator</a><div ergocalc class="calc"></div></li>
            <li id="right"><a href="/leden/38108">Michiel Bouw &nbsp;&nbsp;<i class="fa fa-angle-down"></i></a>
                <ul class="sub_menu">
                    <li><a href="/leden/38108">Mijn profielpagina</a></li>
                    <li><a href="/leden/38108/edit">Gegevens wijzigen</a></li>
                    <li><a href="/beheer/password_change">Wachtwoord wijzigen</a></li>
                    <li><a href="/beheer/logout">Uitloggen (Michiel)</a></li>
                </ul>
            </li>
            <li id="right"><a href="/beheer">Beheer &nbsp;&nbsp;<i class="fa fa-angle-down"></i></a>
                <ul class="sub_menu">
                    <li><a href="/beheer/index/newsitem/add">Nieuw nieuwsbericht</a></li>
                    <li><a href="/beheer/index/roeiverbod">Roeiverbod</a></li>
                    <li><a href="/beheer/kalender">Kalender</a></li>
                    <hr>
                    <li><a href="http://ledenbase.esrtheta.nl">Ledenbase</a></li>
                    <li><a href="/beheer/auth/user/add">Account aanmaken</a></li>
                    <li><a href="/beheer/auth">Account beheer</a></li>
                    <hr>
                    <li><a href="/beheer/password_change">Reset wachtwoord</a></li>
                </ul>
            </li>
        </ul>
    </li>

    <li>
        <a href="/">Links</a>
        <ul class="sub_menu" id="siteselector" ng-controller="siteselector">
            <li ng-repeat="item in items | orderBy:orderSelector"><a href="{$ item.item_url $}"><i class="fa fa-{$ item.item_icon $}"></i> {$ item.item_name $}</a></li>

            <li><a href="https://twitter.com/esrtheta" class="twitter" target="_blank"><i class="fa fa-twitter"></i> Facebook</a></li>
            <li><a href="https://www.facebook.com/esrtheta" class="facebook" target="_blank"><i class="fa fa-facebook"></i> Twitter</a></li>
        </ul>
    </li>

    <li id="search" ng-controller="globalsearchform"><a href=""><form class="pure-form"><input ng-model="globalsearch" type="text" ng-change="globalsearchform()" class="pure-input-rounded" placeholder="zoeken.."/></form></a></li>
</ul>