<ul>
    <li id="header_logo">
        <a href="/"><img src="images/logo_theta_mobile.png"></a>
        <ul class="sub_menu" id="siteselector" ng-controller="siteselector">
            <li ng-repeat="item in items | orderBy:orderSelector"><a href="{$ item.item_url $}"><i class="fa fa-{$ item.item_icon $}"></i> {$ item.item_name $}</a></li>

            <li style="width: 50%;"><a href="https://twitter.com/esrtheta" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li style="width: 50%;"><a href="https://www.facebook.com/esrtheta" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
        </ul>
    </li>
    <li id="search" ng-controller="globalsearchform">
        <a id="searchform_hide" onclick="$(this).hide();$('a#searchform_show').show();" href=""><i class="fa fa-search"></i></a>
        <a id="searchform_show" style="display: none;" href="">
            <form class="form-inline">
            <div class="input-group">
                <div class="input-group-addon"><strong><i onclick="$('a#searchform_show').hide();$('a#searchform_hide').show();$('body').removeHighlight();" class="fa fa-angle-right"></i></strong></div>
                <input ng-model="globalsearch" type="text" ng-change="globalsearchform()" class="form-control" placeholder="zoeken.."/>
            </div>
            </form>
        </a>
    </li>

    <div ng-controller="mainmenu">
        <li ng-repeat="item in items | orderBy:orderMainMenu:-1"><a href="{$ item.item_url $}">{$ item.item_name $}</a>
            <ul class="sub_menu" ng-show="subitem1.length > 0">
                <li ng-repeat="subitem in subitem1 = (subitem | filter:byItemId(item.id) | orderBy:orderSubMainMenu)"><a href="{$ subitem.item_url $}">{$ subitem.item_name $}</a></li>
            </ul>
        </li>
    </div>
</ul>