<div class="block_content col-lg-12" ng-repeat="item in item | orderBy:orderNews:1">
    <a ng-if="item.photo" href="media/{$ item.photo $}" class="fresco"><img src="media/{$ item.photo $}" class="news_image"></a>
    <div class="news_items">
        <h2><a href="/nieuws/{$ item.id $}">{$ item.title $}</a></h2>
        <p class="news_date">
            <i class="fa fa-user"></i>
            <a href="/leden/{$ item.author_id $}">{$ item.author $}</a> namens <span class="black">{$ item.author_group $}</span>
            <span class="fa fa-calendar"></span> {$ item.pub_date | date:'EEE d MMM yyyy, H:mm' $}
        </p>
        <p ng-bind-html="item.itemtext | characters:400 | html_trusted"></p>
        <div class="clear"></div>
    </div>
    <p class="extra">
        <a href="/nieuws/{$ item.id $}">Lees meer</a>&nbsp;&nbsp;•&nbsp;&nbsp;<a class="expand_reacties" href="#">Reacties ({$ comments1.length $}) <i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a>
    </p>
    <div class="content_expand extra_reacties">
        <p ng-hide="comments1.length">Er zijn nog geen reacties geplaatst</p>
        <div class="reactie" ng-repeat="comment in comments1 = (comment | filter:byNewsId(item.id))">
            <img src="images/unknown.gif">
            <span class="reactie_name"><a href="/leden/{$ comment.user_id $}">{$ comment.user $}</a> <span class="reactie_date">{$ comment.date_created | date:'EEE d MMM yyyy, H:mm' $}</span> <a style="text-decoration: none;" href="" ng-click="removecomment(comment.id-1)">x</a></span>
            <span class="reactie_text">{$ comment.comment_text $}</span>
            <br class="clear">
        </div>
        <hr class="clear">
        <h2>Jouw reactie</h2>
        <form>
            <textarea rows="2" cols="60" class="form-control" ng-model="addcomment_text"></textarea>
            <p><button ng-click="addcomment(item.id)" class="btn btn-primary">Plaatsen</button></p>
        </form>
    </div>
</div>

<div class="block_content col-lg-12">
    <p class="extra">
        <a href="/nieuws/archief">Oudere berichten</a>
    </p>
</div>