            <div class="block_content">
                <!--<a href="images/theta/lisa.jpg" class="fresco"><img src="images/theta/lisa.jpg" class="news_image"></a>-->
                <div class="block_page">
                <h1>Ergometerranglijst</h1>
                <h3></h3>
                <hr>
                <p>
                    Opname in de ergometerranglijsten gebeurt op het moment dat redelijkerwijs kan worden aangenomen dat de genoemde tijd correct is. Voor lichte roeiers geldt dat ze licht moeten zijn (of op hele korte termijn daarna ook daadwerkelijk zijn). Scores met (*) omgerekend vanaf 20 minuten test met correctiefactor voor 500m gemiddelde van (1.044^(log(6K/afstand)/log(2))). Voor de 6k/20' ranglijst is die formule gebruikt om de juiste volgorde vast te stellen. Dezelfde formule met (1.044^(log(afstand/2K)/log(2))) wordt voor omrekenen van de tijden uit Ej velden gebruikt.</p>
                <h2>
                    2 kilometer Heren Senioren A</h2>
                <table class="pure-table">
                    <thead>
                    <tr role="row"><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1">
                        &nbsp;</th><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1">
                        Tijd</th><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1">
                        Wie</th><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1">
                        Waar</th></tr>
                    </thead>

                    <tbody role="alert" aria-live="polite" aria-relevant="all"><tr class="odd">
                        <td class=" ">
                            1</td>
                        <td class=" ">
                            5:47.3</td>
                        <td class=" ">
                            Dirk Lippits</td>
                        <td class=" ">
                            Thêta, 12-1999</td>
                    </tr><tr class="even">
                        <td class=" ">
                            2</td>
                        <td class=" ">
                            5:57.4</td>
                        <td class=" ">
                            Gerard Egelmeers</td>
                        <td class=" ">
                            Thêta, 1-2000 en ONEK, 12-2000</td>
                    </tr><tr class="odd">
                        <td class=" ">
                            3</td>
                        <td class=" ">
                            6:00.1</td>
                        <td class=" ">
                            Arjan Kuipers</td>
                        <td class=" ">
                            NKIR, 12-2009</td>
                    </tr><tr class="even">
                        <td class=" ">
                            4</td>
                        <td class=" ">
                            6:00.4</td>
                        <td class=" ">
                            Schelte van Ruiten</td>
                        <td class=" ">
                            KNRB, 2-2005</td>
                    </tr><tr class="odd">
                        <td class=" ">
                            5</td>
                        <td class=" ">
                            6:01.4</td>
                        <td class=" ">
                            Sander de Graaf</td>
                        <td class=" ">
                            Thêta, 9-2014</td>
                    </tr><tr class="even">
                        <td class=" ">
                            6</td>
                        <td class=" ">
                            6:02.9</td>
                        <td class=" ">
                            Pim van Lier</td>
                        <td class=" ">
                            KNRB, 3-2014</td>
                    </tr><tr class="odd">
                        <td class=" ">
                            7</td>
                        <td class=" ">
                            6:04.0</td>
                        <td class=" ">
                            Dennis Modderkolk</td>
                        <td class=" ">
                            Thêta, 3-2011</td>
                    </tr><tr class="even">
                        <td class=" ">
                            8</td>
                        <td class=" ">
                            6:07.0</td>
                        <td class=" ">
                            Floris Lievens</td>
                        <td class=" ">
                            KNRB, 2-2005</td>
                    </tr><tr class="odd">
                        <td class=" ">
                            9</td>
                        <td class=" ">
                            6:09.3</td>
                        <td class=" ">
                            Olaf Smits</td>
                        <td class=" ">
                            ONEK, 12-2001</td>
                    </tr><tr class="even">
                        <td class=" ">
                            10</td>
                        <td class=" ">
                            6:12.9</td>
                        <td class=" ">
                            Joeri de Groot</td>
                        <td class=" ">
                            KNRB, 3-2004</td>
                    </tr></tbody></table>
                <p>
                    &nbsp;</p>
                <h2>
                    2 kilometer Lichte Heren Senioren A</h2>
                <table class="pure-table">
                    <thead>
                    <tr role="row"><th>
                        &nbsp;</th><th>
                        Tijd</th><th>
                        Wie</th><th>
                        Waar</th></tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all"><tr class="odd">
                        <td class=" ">
                            1</td>
                        <td class=" ">
                            6:12.9</td>
                        <td class=" ">
                            Joeri de Groot</td>
                        <td class=" ">
                            KNRB, 3-2004</td>
                    </tr><tr class="even">
                        <td class=" ">
                            2</td>
                        <td class=" ">
                            6:14.8</td>
                        <td class=" ">
                            Gerard Egelmeers</td>
                        <td class=" ">
                            KNRB, 11-1994</td>
                    </tr><tr class="odd">
                        <td class=" ">
                            3</td>
                        <td class=" ">
                            6:15.6</td>
                        <td class=" ">
                            Timon Rutten</td>
                        <td class=" ">
                            ONEK, 12-2001</td>
                    </tr><tr class="even">
                        <td class=" ">
                            4</td>
                        <td class=" ">
                            6:16.8</td>
                        <td class=" ">
                            Jaap Haartsen</td>
                        <td class=" ">
                            KNRB, 2-2005</td>
                    </tr><tr class="odd">
                        <td class=" ">
                            5</td>
                        <td class=" ">
                            6:17.8</td>
                        <td class=" ">
                            Karel Dormans</td>
                        <td class=" ">
                            Thêta, 12-1999</td>
                    </tr><tr class="even">
                        <td class=" ">
                            6</td>
                        <td class=" ">
                            6:17.9</td>
                        <td class=" ">
                            Dirk-Jan Voorn</td>
                        <td class=" ">
                            ONEK, 12-2001</td>
                    </tr><tr class="odd">
                        <td class=" ">
                            7</td>
                        <td class=" ">
                            6:18.1</td>
                        <td class=" ">
                            Jeroen Spaans</td>
                        <td class=" ">
                            KNRB, 3-2002</td>
                    </tr><tr class="even">
                        <td class=" ">
                            8</td>
                        <td class=" ">
                            6:19.7</td>
                        <td class=" ">
                            Youri Vaes</td>
                        <td class=" ">
                            KNRB, 03-2011</td>
                    </tr><tr class="odd">
                        <td class=" ">
                            9</td>
                        <td class=" ">
                            6:22.9</td>
                        <td class=" ">
                            Douwe Bruinsma</td>
                        <td class=" ">
                            ONEK, 12-2000</td>
                    </tr><tr class="even">
                        <td class=" ">
                            10</td>
                        <td class=" ">
                            6:23.4</td>
                        <td class=" ">
                            Nico Nijman</td>
                        <td class=" ">
                            Thêta, ?-200?</td>
                    </tr></tbody></table>
                <p>
                    &nbsp;</p>
                <h2>
                    2 kilometer Dames Senioren A</h2>
                <table>
                    <thead>
                    <tr role="row"><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 5%;">
                        &nbsp;</th><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 15%;">
                        Tijd</th><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 40%;">
                        Wie</th><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 40%;">
                        Waar</th></tr>
                    </thead>

                    <tbody role="alert" aria-live="polite" aria-relevant="all"><tr class="odd">
                        <td class=" ">
                            1</td>
                        <td class=" ">
                            6:58.0</td>
                        <td class=" ">
                            Lisa Scheenaard</td>
                        <td class=" ">
                            NKIR, 13-2013</td>
                    </tr><tr class="even">
                        <td class=" ">
                            2</td>
                        <td class=" ">
                            6:59.6</td>
                        <td class=" ">
                            Merlijn Borneman</td>
                        <td class=" ">
                            KNRB, 3-2014</td>
                    </tr><tr class="odd">
                        <td class=" ">
                            3</td>
                        <td class=" ">
                            7:02.1</td>
                        <td class=" ">
                            Thamar Henneken</td>
                        <td class=" ">
                            KNRB, 6-2002</td>
                    </tr><tr class="even">
                        <td class=" ">
                            4</td>
                        <td class=" ">
                            7:08.3</td>
                        <td class=" ">
                            Christine Nabuurs</td>
                        <td class=" ">
                            Thêta, 3-2004</td>
                    </tr><tr class="odd">
                        <td class=" ">
                            5</td>
                        <td class=" ">
                            7:09.1</td>
                        <td class=" ">
                            Rianne Dekker</td>
                        <td class=" ">
                            KNRB, 03-2011,03-2013</td>
                    </tr><tr class="even">
                        <td class=" ">
                            6</td>
                        <td class=" ">
                            7:09.8</td>
                        <td class=" ">
                            Petra Nijman</td>
                        <td class=" ">
                            ONEK, 12-2001</td>
                    </tr><tr class="odd">
                        <td class=" ">
                            7</td>
                        <td class=" ">
                            7:10.7</td>
                        <td class=" ">
                            Nanette van Ditshuizen</td>
                        <td class=" ">
                            KNRB 03-2013</td>
                    </tr><tr class="even">
                        <td class=" ">
                            8</td>
                        <td class=" ">
                            7:12.0</td>
                        <td class=" ">
                            Marjan Hagelaars</td>
                        <td class=" ">
                            Thêta, 09-2014</td>
                    </tr><tr class="odd">
                        <td class=" ">
                            9</td>
                        <td class=" ">
                            7:12.7</td>
                        <td class=" ">
                            Heleen Boers</td>
                        <td class=" ">
                            Thêta, 11-2009</td>
                    </tr><tr class="even">
                        <td class=" ">
                            10</td>
                        <td class=" ">
                            7:13.7</td>
                        <td class=" ">
                            Lieke Droog</td>
                        <td class=" ">
                            NKIR 12-2003</td>
                    </tr><tr class="odd">
                        <td class=" ">
                            &nbsp;</td>
                        <td class=" ">
                            7:13.7</td>
                        <td class=" ">
                            Lotte van Ditshuizen</td>
                        <td class=" ">
                            NKIR, 12-2013</td>
                    </tr></tbody></table>
                <p>
                    &nbsp;</p>
                <h2>
                    2 kilometer Lichte Dames Senioren A</h2>
                <table>
                    <thead>
                    <tr role="row"><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 5%;">
                        &nbsp;</th><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 15%;">
                        Tijd</th><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 40%;">
                        Wie</th><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 40%;">
                        Waar</th></tr>
                    </thead>

                    <tbody role="alert" aria-live="polite" aria-relevant="all"><tr class="odd">
                        <td class=" ">
                            1</td>
                        <td class=" ">
                            7:09.1</td>
                        <td class=" ">
                            Rianne Dekker</td>
                        <td class=" ">
                            KNRB, 03-2011,03-2013</td>
                    </tr><tr class="even">
                        <td class=" ">
                            2</td>
                        <td class=" ">
                            7:31.5</td>
                        <td class=" ">
                            Fleur Rövekamp</td>
                        <td class=" ">
                            ONEK, 12-2000</td>
                    </tr><tr class="odd">
                        <td class=" ">
                            3</td>
                        <td class=" ">
                            7:32.9</td>
                        <td class=" ">
                            Ellen de Boer</td>
                        <td class=" ">
                            Thêta, 09-2014</td>
                    </tr><tr class="even">
                        <td class=" ">
                            4</td>
                        <td class=" ">
                            7:48.1</td>
                        <td class=" ">
                            Seda Cantekin</td>
                        <td class=" ">
                            NKIR, 12-2009</td>
                    </tr><tr class="odd">
                        <td class=" ">
                            5</td>
                        <td class=" ">
                            7:48.5</td>
                        <td class=" ">
                            Helen Anema</td>
                        <td class=" ">
                            ONEK, 12-2001</td>
                    </tr><tr class="even">
                        <td class=" ">
                            6</td>
                        <td class=" ">
                            7:48.9</td>
                        <td class=" ">
                            Marthe Veenis</td>
                        <td class=" ">
                            NKIR, 12-2007</td>
                    </tr><tr class="odd">
                        <td class=" ">
                            7</td>
                        <td class=" ">
                            7:51.0</td>
                        <td class=" ">
                            Krisje Wijgergangs</td>
                        <td class=" ">
                            Thêta, 11-2009</td>
                    </tr><tr class="even">
                        <td class=" ">
                            8</td>
                        <td class=" ">
                            7:55.3</td>
                        <td class=" ">
                            Joleen van den Toren&nbsp;</td>
                        <td class=" ">
                            NKIR, 12-2011 (2025m in 8:02.0)</td>
                    </tr><tr class="odd">
                        <td class=" ">
                            9</td>
                        <td class=" ">
                            8:03.1</td>
                        <td class=" ">
                            Isabelle Linders</td>
                        <td class=" ">
                            Thêta, 09-2014</td>
                    </tr><tr class="even">
                        <td class=" ">
                            10</td>
                        <td class=" ">
                            8:06.3</td>
                        <td class=" ">
                            Mayra Goevaerts</td>
                        <td class=" ">
                            NKIR, 12-2013 (2051m in 8:19.5)</td>
                    </tr></tbody></table>
                <p>
                    &nbsp;</p>
                <h2>
                    6 kilometer Heren Senioren A</h2>
                <table>
                    <thead>
                    <tr role="row"><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 5%;">
                        &nbsp;</th><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 15%;">
                        Tijd</th><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 40%;">
                        Wie</th><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 40%;">
                        Waar</th></tr>
                    </thead>

                    <tbody role="alert" aria-live="polite" aria-relevant="all"><tr class="odd">
                        <td class=" ">
                            1</td>
                        <td class=" ">
                            18:52.?</td>
                        <td class=" ">
                            Dirk Lippits</td>
                        <td class=" ">
                            ?</td>
                    </tr><tr class="even">
                        <td class=" ">
                            2</td>
                        <td class=" ">
                            19:07.6</td>
                        <td class=" ">
                            Gerard Egelmeers</td>
                        <td class=" ">
                            Thêta, ?-1998</td>
                    </tr><tr class="odd">
                        <td class=" ">
                            3</td>
                        <td class=" ">
                            19:35.6</td>
                        <td class=" ">
                            Pim van Lier</td>
                        <td class=" ">
                            Thêta, 2-2014</td>
                    </tr><tr class="even">
                        <td class=" ">
                            4</td>
                        <td class=" ">
                            2108m (19:37.5)</td>
                        <td class=" ">
                            Sander de Graaf</td>
                        <td class=" ">
                            Thêta, 9-2014</td>
                    </tr><tr class="odd">
                        <td class=" ">
                            5</td>
                        <td class=" ">
                            19:42.4</td>
                        <td class=" ">
                            Arjan Kuipers</td>
                        <td class=" ">
                            Thêta, 12-2009</td>
                    </tr><tr class="even">
                        <td class=" ">
                            6</td>
                        <td class=" ">
                            19:56.6</td>
                        <td class=" ">
                            Joost van het Klooster</td>
                        <td class=" ">
                            Thêta, 12-2002</td>
                    </tr><tr class="odd">
                        <td class=" ">
                            7</td>
                        <td class=" ">
                            19:58.6</td>
                        <td class=" ">
                            Floris Lievens</td>
                        <td class=" ">
                            Thêta, 12-2002</td>
                    </tr><tr class="even">
                        <td class=" ">
                            8</td>
                        <td class=" ">
                            20:03.2</td>
                        <td class=" ">
                            Alex van der Gaag</td>
                        <td class=" ">
                            Thêta, 12-2009 (*)</td>
                    </tr><tr class="odd">
                        <td class=" ">
                            9</td>
                        <td class=" ">
                            20:07.6</td>
                        <td class=" ">
                            Joeri de Groot</td>
                        <td class=" ">
                            Thêta, 12-1999</td>
                    </tr><tr class="even">
                        <td class=" ">
                            10</td>
                        <td class=" ">
                            20:14.1</td>
                        <td class=" ">
                            Jeroen Spaans</td>
                        <td class=" ">
                            ??, 12-2000</td>
                    </tr></tbody></table>
                <p>
                    &nbsp;</p>
                <h2>
                    6 kilometer Lichte Heren Senioren A</h2>
                <table>
                    <thead>
                    <tr role="row"><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 5%;">
                        &nbsp;</th><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 15%;">
                        Tijd</th><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 40%;">
                        Wie</th><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 40%;">
                        Waar</th></tr>
                    </thead>

                    <tbody role="alert" aria-live="polite" aria-relevant="all"><tr class="odd">
                        <td class=" ">
                            1</td>
                        <td class=" ">
                            20:07.6</td>
                        <td class=" ">
                            Joeri de Groot</td>
                        <td class=" ">
                            Thêta, 12-1999</td>
                    </tr><tr class="even">
                        <td class=" ">
                            2</td>
                        <td class=" ">
                            20:14.1</td>
                        <td class=" ">
                            Jeroen Spaans</td>
                        <td class=" ">
                            ??, 12-2000</td>
                    </tr><tr class="odd">
                        <td class=" ">
                            3</td>
                        <td class=" ">
                            20:16.8</td>
                        <td class=" ">
                            Youri Vaes</td>
                        <td class=" ">
                            Thêta, 12-2009</td>
                    </tr><tr class="even">
                        <td class=" ">
                            4</td>
                        <td class=" ">
                            20:17.0</td>
                        <td class=" ">
                            Karel Dormans</td>
                        <td class=" ">
                            Thêta, 12-1999</td>
                    </tr><tr class="odd">
                        <td class=" ">
                            5</td>
                        <td class=" ">
                            20:??.?</td>
                        <td class=" ">
                            Jaap Haartsen</td>
                        <td class=" ">
                            Thêta, ??-200?</td>
                    </tr><tr class="even">
                        <td class=" ">
                            6</td>
                        <td class=" ">
                            5801m (20:43.8)</td>
                        <td class=" ">
                            Arne Hendriks</td>
                        <td class=" ">
                            Thêta, 1-2013</td>
                    </tr><tr class="odd">
                        <td class=" ">
                            7</td>
                        <td class=" ">
                            20:57.5</td>
                        <td class=" ">
                            Mark Hulsbos</td>
                        <td class=" ">
                            Thêta, 2-2014</td>
                    </tr><tr class="even">
                        <td class=" ">
                            8</td>
                        <td class=" ">
                            21:08.0</td>
                        <td class=" ">
                            Armand van Deursen</td>
                        <td class=" ">
                            Thêta, 12-2009</td>
                    </tr><tr class="odd">
                        <td class=" ">
                            9</td>
                        <td class=" ">
                            5648m (21:19.6)</td>
                        <td class=" ">
                            Tjeerd van Ditshuizen</td>
                        <td class=" ">
                            Thêta, 1-2013</td>
                    </tr><tr class="even">
                        <td class=" ">
                            10</td>
                        <td class=" ">
                            5625m (21:25.1)</td>
                        <td class=" ">
                            Stef Schenkelaars</td>
                        <td class=" ">
                            Thêta, 1-2013</td>
                    </tr></tbody></table>
                <p>
                    &nbsp;</p>
                <h2>
                    6 kilometer Dames Senioren A</h2>
                <table>
                    <thead>
                    <tr role="row"><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 5%;">
                        &nbsp;</th><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 15%;">
                        Tijd</th><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 40%;">
                        Wie</th><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 40%;">
                        Waar</th></tr>
                    </thead>

                    <tbody role="alert" aria-live="polite" aria-relevant="all"><tr class="odd">
                        <td class=" ">
                            1</td>
                        <td class=" ">
                            21:58.4</td>
                        <td class=" ">
                            Lisa Scheenaard</td>
                        <td class=" ">
                            KNRB 03-2014</td>
                    </tr><tr class="even">
                        <td class=" ">
                            2</td>
                        <td class=" ">
                            22:40.9</td>
                        <td class=" ">
                            Merlijn Borneman</td>
                        <td class=" ">
                            Thêta 02-2014</td>
                    </tr><tr class="odd">
                        <td class=" ">
                            3</td>
                        <td class=" ">
                            22:46.0</td>
                        <td class=" ">
                            Rianne Dekker</td>
                        <td class=" ">
                            Thêta 09-2013</td>
                    </tr><tr class="even">
                        <td class=" ">
                            4</td>
                        <td class=" ">
                            22:57.8</td>
                        <td class=" ">
                            Lotte van Ditshuizen</td>
                        <td class=" ">
                            Thêta 02-2014</td>
                    </tr><tr class="odd">
                        <td class=" ">
                            5</td>
                        <td class=" ">
                            23:04.4</td>
                        <td class=" ">
                            Lieke Droog</td>
                        <td class=" ">
                            Ergohead 1-2002</td>
                    </tr><tr class="even">
                        <td class=" ">
                            6</td>
                        <td class=" ">
                            5229m (23:08.8)</td>
                        <td class=" ">
                            Nanette&nbsp;van Ditshuizen</td>
                        <td class=" ">
                            Thêta 12-2012</td>
                    </tr><tr class="odd">
                        <td class=" ">
                            7</td>
                        <td class=" ">
                            23:09.8</td>
                        <td class=" ">
                            Marjan Hagelaars</td>
                        <td class=" ">
                            Thêta 09-2014</td>
                    </tr><tr class="even">
                        <td class=" ">
                            8</td>
                        <td class=" ">
                            23:24.2</td>
                        <td class=" ">
                            Irma Meijer</td>
                        <td class=" ">
                            Thêta 09-2013</td>
                    </tr><tr class="odd">
                        <td class=" ">
                            9</td>
                        <td class=" ">
                            23:25.5</td>
                        <td class=" ">
                            Eveline Wouters</td>
                        <td class=" ">
                            Thêta 09-2014</td>
                    </tr><tr class="even">
                        <td class=" ">
                            10</td>
                        <td class=" ">
                            23:31.2</td>
                        <td class=" ">
                            Lisa Dekkers</td>
                        <td class=" ">
                            Thêta 09-2014</td>
                    </tr></tbody></table>
                <p>
                    &nbsp;</p>
                <h2>
                    6 kilometer Lichte Dames Senioren A</h2>
                <table>
                    <thead>
                    <tr role="row"><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 5%;">
                        &nbsp;</th><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 15%;">
                        Tijd</th><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 40%;">
                        Wie</th><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 40%;">
                        Waar</th></tr>
                    </thead>

                    <tbody role="alert" aria-live="polite" aria-relevant="all"><tr class="odd">
                        <td class=" ">
                            1</td>
                        <td class=" ">
                            22:46.0</td>
                        <td class=" ">
                            Rianne Dekker</td>
                        <td class=" ">
                            Thêta 09-2013</td>
                    </tr><tr class="even">
                        <td class=" ">
                            2</td>
                        <td class=" ">
                            24:05.0</td>
                        <td class=" ">
                            Ellen de Boer</td>
                        <td class=" ">
                            Thêta 09-2014</td>
                    </tr><tr class="odd">
                        <td class=" ">
                            3</td>
                        <td class=" ">
                            4844m (25:06.3)</td>
                        <td class=" ">
                            Lotte van de Leur</td>
                        <td class=" ">
                            Thêta 12-2011</td>
                    </tr><tr class="even">
                        <td class=" ">
                            4</td>
                        <td class=" ">
                            25:23.2</td>
                        <td class=" ">
                            Isabelle Linders</td>
                        <td class=" ">
                            Thêta 09-2014</td>
                    </tr><tr class="odd">
                        <td class=" ">
                            5</td>
                        <td class=" ">
                            25:27.6</td>
                        <td class=" ">
                            Krisje Wijgergangs</td>
                        <td class=" ">
                            Thêta 12-2009 (*)</td>
                    </tr><tr class="even">
                        <td class=" ">
                            6</td>
                        <td class=" ">
                            4604m (26:29.8)</td>
                        <td class=" ">
                            Berit Wassenaar</td>
                        <td class=" ">
                            Thêta 01-2013</td>
                    </tr></tbody></table>
                <p>
                    &nbsp;</p>
                <p>
                    <em>Voor het laatst bijgewerkt september 2014<br>
                        Onderhouden door: <a href="mailto:GerardEgelmeers@hotmail.com">Gerard Egelmeers</a></em></p>
                <div class="clear"></div>
                </div>
            </div>