            <div id="sidebar">
                <div class="sidebar_block">
                    <!--<h2>Leden en oud-leden der E.S.R. THÊTA</h2>-->
                    <p class="extra">
                        <a href="/leden">Login</a>
                    </p>
                </div>
                <div class="sidebar_block">
                    <h2>Roeiverbod</h2>
                    <div class="sidebar_content">
                        <div class="verbod">
                            IJS<br><small>Bah..</small>
                        </div>
                    </div>
                </div>
                <div class="sidebar_block">
                    <h2><a href="/kalender">Kalender</a></h2>
                    <div class="sidebar_content">
                        <ul class="calender">
                            <li id="today"><span class="date">ma 2 jun</span>
                                <div class="title">Sanctiebestuur XL Strafborrel!</div><a href="/"><i class="fa fa-angle-right"></i></a></li>
                            <li><span class="date">wo 4 jun</span>
                                <div class="title">Bekendmaking Lustrum Thema</div><a href="/"><i class="fa fa-angle-right"></i></a></li>
                            <li><span class="date">za 7 jun</span><span class="end_date">- zo 8 jun</span>
                                <div class="title">ARB / Aegon NK</div><a href="/"><i class="fa fa-angle-right"></i></a></li>
                            <li><span class="date">wo 11 jun</span>
                                <div class="title">Sjaarsfeest in 't Lempke</div><a href="/"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <p class="extra">
                        <a href="/kalender">Meer</a>
                    </p>
                </div>
                <div class="sidebar_block">
                    <div class="sidebar_content">
                        <a title="Partner" href="/sponsors/3" class="partner_logos" style="background-image: url('images/sponsors/TopSupport.png')"></a>
                        <a title="Gold sponsor" href="/sponsors/1" class="partner_logos" style="background-image: url('images/sponsors/Spirit.png')"></a>
                        <a title="Silver sponsor" href="/sponsors/7" class="partner_logos" style="background-image: url('images/sponsors/Bavaria.png')"></a>
                        <a title="Bronze sponsor" href="/sponsors/11" class="partner_logos" style="background-image: url('images/sponsors/Lempke.png')"></a>
                    </div>
                </div>
                <div class="sidebar_block">
                    <h2><a href="http://jasjedasje.nl">Is het jasje/dasje vanavond?</a></h2>
                    <div class="sidebar_content">
                        <div class="jasje">
                            <strong>Ja</strong><br><small>Vieze knor..</small>
                        </div>
                    </div>
                    <p class="extra">
                        <a href="/leden">Wil ik niet, <small>ga naar uitschrijf formulier</small></a>
                    </p>
                </div>
            </div>