                <div ng-controller="roeiverbod">
                    <div class="sidebar_block col-md-12" ng-repeat="item in items | filter:notEnded() | orderBy:orderVerbod:-1">
                        <h2>Roeiverbod</h2>
                        <div class="sidebar_content">
                            <div class="verbod">
                                {$ item.title $}<br><small>{$ item.description $}</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar_block col-md-12">
                    <h2>Poll</h2>
                    <div class="sidebar_content">
                        <div class="poll">
                            <strong>Geen internet dus geen spotify in 't Klootje. Tegen de stilte neem ik mee:</strong>
                            <br><br>
                            16CD Celine Dion Collection
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100" style="width: 4%;">
                                    4%
                                </div>
                            </div>
                            Wereldmuziek uit m'n kerstpakket
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="19" aria-valuemin="0" aria-valuemax="100" style="width: 19%;">
                                    19%
                                </div>
                            </div>
                            Hitzone 1 t/m 43
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="31" aria-valuemin="0" aria-valuemax="100" style="width: 31%;">
                                    31%
                                </div>
                            </div>
                            Bootleg opname van Lustrumband
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100" style="width: 24%;">
                                    24%
                                </div>
                            </div>
                            Spotify op m'n telefoon
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100" style="width: 12%;">
                                    12%
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="sidebar_block col-md-12">
                    <h2><a href="/kalender">Kalender</a></h2>
                    <div class="sidebar_content">
                        <ul class="calender">
                            <li id="today"><span class="date">ma 2 jun</span>
                                <div class="title">Sanctiebestuur XL Strafborrel!</div><a href="/"><i class="fa fa-angle-right"></i></a></li>
                            <li><span class="date">wo 4 jun</span>
                                <div class="title">Bekendmaking Lustrum Thema</div><a href="/"><i class="fa fa-angle-right"></i></a></li>
                            <li><span class="date">za 7 jun</span><span class="end_date">- zo 8 jun</span>
                                <div class="title">ARB / Aegon NK</div><a href="/"><i class="fa fa-angle-right"></i></a></li>
                            <li><span class="date">wo 11 jun</span>
                                <div class="title">Sjaarsfeest in 't Lempke</div><a href="/"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <p class="extra">
                        <a href="/kalender">Meer</a>
                    </p>
                </div>
                <div class="sidebar_block col-md-12">
                    <h2><a href="http://jasjedasje.nl">Is het jasje/dasje vanavond?</a></h2>
                    <div class="sidebar_content">
                        <div class="jasje">
                            <strong>Ja</strong><br><small>Vieze knor..</small>
                        </div>
                    </div>
                    <p class="extra">
                        <a href="/leden">Wil ik niet, <small>ga naar uitschrijf formulier</small></a>
                    </p>
                </div>
                <div class="sidebar_block col-md-12">
                    <div class="sidebar_content">
                        <div id="side_partner">
                            <a title="Partner" href="/sponsors/3" class="partner_logos" style="background-image: url('images/sponsors/TopSupport.png')"></a>
                            <a title="Partner" href="/sponsors/3" class="partner_logos" style="background-image: url('images/sponsors/TUE.png')"></a>
                            <a title="Partner" href="/sponsors/3" class="partner_logos" style="background-image: url('images/sponsors/SSC.png')"></a>
                        </div>
                        <div id="side_gold">
                            <a title="Gold sponsor" href="/sponsors/1" class="partner_logos" style="background-image: url('images/sponsors/ASML.png')"><span class="partner_gold"></span><span class="partner_gold float_right"></span></a>
                            <a title="Gold sponsor" href="/sponsors/1" class="partner_logos" style="background-image: url('images/sponsors/Viro.png')"><span class="partner_gold"></span><span class="partner_gold float_right"></span></a>
                            <a title="Gold sponsor" href="/sponsors/1" class="partner_logos" style="background-image: url('images/sponsors/Spirit.png')"><span class="partner_gold"></span><span class="partner_gold float_right"></span></a>
                        </div>
                        <div id="side_silver">
                            <a title="Silver sponsor" href="/sponsors/7" class="partner_logos" style="background-image: url('images/sponsors/ABN.png')"><span class="partner_silver"></span><span class="partner_silver float_right"></span></a>
                            <a title="Silver sponsor" href="/sponsors/7" class="partner_logos" style="background-image: url('images/sponsors/DAF.png')"><span class="partner_silver"></span><span class="partner_silver float_right"></span></a>
                            <a title="Silver sponsor" href="/sponsors/7" class="partner_logos" style="background-image: url('images/sponsors/ExxonMobil.png')"><span class="partner_silver"></span><span class="partner_silver float_right"></span></a>
                            <a title="Silver sponsor" href="/sponsors/7" class="partner_logos" style="background-image: url('images/sponsors/Bavaria.png')"><span class="partner_silver"></span><span class="partner_silver float_right"></span></a>
                        </div>
                        <div id="side_bronze">
                            <a title="Bronze sponsor" href="/sponsors/11" class="partner_logos" style="background-image: url('images/sponsors/AudioEye.png')"><span class="partner_bronze"></span><span class="partner_bronze float_right"></span></a>
                            <a title="Bronze sponsor" href="/sponsors/11" class="partner_logos" style="background-image: url('images/sponsors/Run2Day.png')"><span class="partner_bronze"></span><span class="partner_bronze float_right"></span></a>
                            <a title="Bronze sponsor" href="/sponsors/11" class="partner_logos" style="background-image: url('images/sponsors/Accenture.png')"><span class="partner_bronze"></span><span class="partner_bronze float_right"></span></a>
                            <a title="Bronze sponsor" href="/sponsors/11" class="partner_logos" style="background-image: url('images/sponsors/Lempke.png')"><span class="partner_bronze"></span><span class="partner_bronze float_right"></span></a>
                        </div>
                    </div>
                </div>